<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restraunt</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <section id="testimonials">
        <h2 class="testimonial-title">What Our Customers Say</h2>
        <div class="testimonial-container container">
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <img src="C:\Users\ABC\Downloads\jagruti.png" alt="" />
                <p class="customer-name">Jagruti Save</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
              It’s a great experience. The ambiance is very welcoming and charming. <br>
              Amazing Coffee, food and service.<br> Staff are extremely knowledgeable and make great recommendations.
            </p>
           
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <img
                  src="C:\Users\ABC\Downloads\garima.png"
                  alt=""
                />
                <p class="customer-name">Garima Tripati</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
              This cozy canteen has left the best impressions! <br> delicious dishes, beautiful presentation, wide biryani list and wonderful tea.
               I recommend to everyone!<br> I would like to come back here again and again.
            </p>
           
          </div>
          <div class="testimonial-box">
            <div class="customer-detail">
              <div class="customer-photo">
                <img src="C:\Users\ABC\Downloads\prachi.png" alt="" />
                <p class="customer-name">Prachi Dalvi</p>
              </div>
            </div>
            <div class="star-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
              Excellent food. Menu is extensive and seasonal to a particularly high standard.<br>
              Servers are also great and always efficient, happy and polite. <br>
              Can’t wait to return and wouldn’t hesitate to recommend to anyone looking for somewhere to eat in<br>
            </p>
           
          </div>
        </div>
      </section>